# Core ML / data
tensorflow==2.20.0
keras==3.11.3
scikit-learn==1.7.1
imbalanced-learn==0.14.0
scikeras==0.13.0
xgboost==3.0.5
shap==0.48.0
pandas==2.3.2
numpy==2.2.0
scipy==1.16.1
joblib==1.5.2

# Visualisation
matplotlib==3.10.6
seaborn==0.13.2
plotly==6.3.0

# Streamlit
streamlit==1.45.0

# Utilities (TF deps)
absl-py==2.3.1
astunparse==1.6.3
flatbuffers==25.2.10
gast==0.6.0
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
libclang==18.1.1
ml_dtypes==0.5.3
opt_einsum==3.4.0
optree==0.17.0
packaging>=20,<25
protobuf==6.32.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
wrapt==1.17.3
